@import url("theme.css");

#logFieldSet {
  margin: auto;
  width: 40%;
  border: 3px solid var(--br-crayola);
  padding: 30px;
}

.cred {
  margin-bottom: 5px;
  border: solid var(--ma-blue);
}

#credentialDiv {
  text-align: center;
  color: var(--ma-blue);
  font-weight: bold;
}
#signup {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

#subButton {
  float: right;
}

#loginLogo {
  width: 48%;
  height: 48%;
}

div.imgDiv {
  text-align: center;
}

#error{
  color:red;
}