@import url("theme.css");

/* Add a  background color to the navigation bar */
.navBar {
  float: right;
  background-color: var(--ma-blue);
  overflow: hidden;
  display: flex;
}

/* Style the links inside the navigation bar */
.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /*font-size: 17px;*/
}

/* Change the color of links on hover */
.navBar a:hover {
  background-color: var(--ba-powder);
  color: var(--ma-blue);
}

/* Add a color to active link */
.navBar a.active {
  background-color: var(--max-green);
  color: var(--ba-powder);
}
