@import url("theme.css");

/*----------------------------Header----------------------------*/
header {
  text-align: center;
}
/*----------------------------Center----------------------------*/
#menuButton {
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  width: 100px;
  height: 100px;
  opacity: 0.5;
  transition: 0.5s ease;
  cursor: pointer;
  z-index: 999;
}
#menuButton:hover {
  opacity: 1;
}

/*-------------Todo list starts------*/
/* Each item inside the todo list */
#todoList > li {
  font-size: x-large;
  list-style: none;
  border: solid var(--max-green);
  margin: 2px;
  width: 75%;
  font-weight: bold;
}

/* The span element inside
 each item of todo list*/
.delete {
  height: 25px;
  width: 25px;
  display: inline-block;
  background-image: url("../img/cross.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.5;
}
.delete:hover {
  opacity: 1;
}

/*-------------Miscellaneous------*/
.dropdown-menu {
  position: -webkit-sticky;
  position: fixed;
  background-color: var(--ba-powder);
  top: 0px;
  width: 20%;
  padding-top: 130px;
  display: block;
  opacity: 0.7;
  font-size: large;
  text-align: center;
  display: none;
}

#dLists {
  list-style: none;
  text-align: left;
}
#dLists > li {
  margin-bottom: 5px;
}

.dropdown-menu > .newList {
  border: none;
  background-color: var(--ma-blue);
  color: var(--ba-powder);
  width: 200px;
  height: 50px;
  cursor: pointer;
}
/*-------------Miscellaneous------*/
#container {
  display: flex;
  align-items: stretch;
  grid-template-columns: auto auto auto;
}

#addDiv {
  width: 90%;
  text-align: right;
}

.teamMem {
  width: 100px;
  height: 100px;
}

#teamList {
  list-style: none;
}
#teamList > li {
  margin: 10px;
}

main {
  flex: 0 1 65%;
}
nav {
  flex: 0 1 20%;
}
aside {
  text-align: right;
  flex: 0 1 15%;
}

/*----------------------------Footer----------------------------*/

/*----------Add task button----------*/
#addTask {
  position: -webkit-sticky;
  position: fixed;
  bottom: 0px;
  width: 100px;
  height: 100px;
  opacity: 0.5;
  transition: 0.3s ease;
  cursor: pointer;
}
#addTask:hover {
  opacity: 1;
}

/*----------Add task window----------*/
.todoDiv {
  display: none;
  background-color: rgb(255, 159, 28, 0.4);
  padding: 30px 40px;
  color: white;
  text-align: center;
  bottom: 0px;
  max-width: 300px;
  position: -webkit-sticky;
  position: fixed;
}

input,
.cancelBtn {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  font-weight: bold;
}
.cancelBtn {
  background-color: var(--rose-madder);
  cursor: pointer;
  color: var(--ba-powder);
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: var(--ma-blue);
  color: var(--ba-powder);
  float: left;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.todoDiv #cancelBtn {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
